.post {
  &__cover,
  &__content {
    img {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__content {
    img {
      box-shadow: var(--primary-color) 0 7px 0 0;
    }
  }

  &__title {
    font-family: $impact-font;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 30px;

    @media screen and (max-width: 400px) {
      font-size: 35px;
    }
  }
}
