.post__content {
  background: var(--bg);
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  *::selection {
    background: var(--primary-color);
    color: var(--bg);
  }

  @media screen and (min-width: 768px) {
    padding: 30px;
    font-size: 20px;
  }

  iframe {
    @include block(0);
  }

  a {
    white-space: pre-wrap;
    word-break: break-all;

    @include link();

  }

  img {
    margin: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $impact-font;
    text-decoration: underline 0.1em var(--secondary-color);
  }

  h1, h2 {
    font-weight: bold;
  }
  h2 {
    color: var(--primary-color);
  }
  h3 {
    color: var(--primary-color);
    text-decoration: underline 0.1em var(--secondary-color);
  }

  $sizes: (
          h1: 1.8em,
          h2: 1.6em,
          h3: 1.4em,
          h4: 1.1em,
          h5: 1.05em,
          h6: 0.9em
  );

  @each $tag, $size in $sizes {
    #{$tag} {
      font-size: $size;
      margin-bottom: #{$size*0.8};
      margin-top: #{$size*1.6};
    }
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  > h1:before {
    content: '# '
  }
  > h2:before{
    content: '## '
  }

  > h3:before{
    content: '### '
  }


  p {
    margin-bottom: 1.4em;
    line-height: 1.6em;
  }

  ul {
    margin-bottom: 1.4em;
    padding-left: 20px;

    li {
      list-style: disc;
      line-height: 1.6em;
      margin-bottom: 0.5em;
      ul {
        margin-bottom: 0;
      }
    }
  }


  iframe {
    margin-bottom: 30px;
  }

  pre, .highlight {
    background: #272822;
    padding: 1.5rem;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 0;
    overflow: auto;
    overflow-y: hidden;
    color: #ccc;
    display: block;
    line-height: 1.4em;
  }

  .highlight {
    background: transparent;
    padding: 0;
    overflow: visible;
    margin-top: -1.6rem;

    table {
      margin: 0;
      width: auto;

      td {
        border: none;
        padding: 0;
      }

      tr {
        border: 0;
      }

      figcaption {
        font-size: 0.85em;
        color: #999;
        line-height: 1em;
        margin-bottom: 1em;

        a {
          float: right;
        }
      }
    }

    .line {
      height: 20px;
    }
  }

  code, pre {
    font-family: "Source Code Pro", monospace
  }

  code {
    color: var(--primary-color);
    padding: 1px 2px;
    border-radius: 2px;
    word-wrap: break-word;
  }

  pre {
    scrollbar-color: $white transparent;
    scrollbar-width: thin;
    box-shadow: var(--secondary-color) -7px 0 0 0;

    > code {
      background: $black;
      color: $white;
    }

    &::-webkit-scrollbar {
      width: 10px;
      padding: 0 2px;
      border-radius: 99px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 100px;
      background-clip: content-box;
      margin: 10px;

    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    margin: 1.6rem 0;
    @include block();

    code {
      background: none;
      text-shadow: none;
      padding: 0;
    }
  }

  blockquote {
    margin: 0 0 1.1em;
    box-shadow: var(--primary-color) -7px 0 0 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 15px 20px;
    color: var(--primary-color);

    a {
      color: var(--primary-color);
      text-decoration: underline 0.1em var(--text-color);
    }

    p:last-child {
      margin: 0;
    }
  }

  table {
    margin: 15px 0;
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;

    max-width: 100%;
    overflow-x: auto;
    display: block;


    tr {
    }

    th, strong  {
      color: var(--primary-color);
      font-weight: bold;
      text-align: left;

    }
    th, td {
      border-bottom: 1px solid var(--text-color);
      padding: 10px 13px;
    }
    td {
      background-color: lighten($flat-color, 32%);
      [data-theme=dark] & {
        background-color: darken($flat-color, 42%);
      }
    }

    tr:last-child {
      td {
        border-bottom: none
      }
    }
  }


  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .asciicast {
    text-align: center;
  }
}
