.post__nav-wrapper {
  @include background-diagonal(var(--secondary-color), var(--primary-color-10));

  padding: 40px 0;

  .wrapper-1200 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;


    > * {
      flex: 1;

    }
  }
}

.post__nav-years {
  padding-top: 20px;
  text-align: center;

  .years {
    justify-content: center;
  }
}

.blog-link {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0;
}

.post-nav {
  display: flex;
  flex-flow: column;
  padding: 0 15px;

  &__cover {
    background: var(--primary-color);
    width: 200px;
    max-width: 100%;
    height: 120px;
    margin-bottom: 20px;

    img {
      border-radius: 12px;
    }
  }

  &__link {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;

    .post-nav__title {
      max-width: 200px;
      transition: text-decoration-color .4s;
      text-decoration: underline 1px var(--secondary-color);

      &:before, &:after {
        transition: all .3s ease-in-out;
      }
    }

    &:hover {
      .post-nav__title {
        text-decoration: underline 0.15em transparent;
      }
    }
  }

  &--prev {
    .post-nav__title {
      &:before {
        display: inline-block;
        content: '«';
      }
    }

    &:hover {
      .post-nav__title {
        &:before {
          transform: translateX(-10px);
        }
      }
    }
  }

  &--next {
    align-items: flex-end;

    .post-nav__title {
      text-align: right;
      &:after {
        display: inline-block;
        content: '»';
      }
    }

    .post-nav__link {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
    }

    &:hover {
      .post-nav__title {
        &:after {
          transform: translateX(10px);
        }
      }
    }
  }
}
