.post__search-wrapper {
  @include background-diagonal(var(--primary-color), var(--secondary-color-10));
  color: var(--contrast-text-color);
  padding: 50px 0;

  > * {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
  }
  input {
    font-family: var(--font-family);
  }

}
