.post {
  &--teaser {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;


    .post {
      max-width: 100%;
      overflow: hidden;

      &__metadata {
        margin-bottom: 10px;
      }

      &__cover {
        .btn {
          width: 100%
        }
      }

      &__aside {
        flex-shrink: 1;
        flex-grow: 1;
        max-width: 100%;
        flex-basis: 300px
      }

      &__main {
        padding-top: 15px;
        flex: 1;
        flex-basis: 300px;
      }

      &__title {
        margin-bottom: 30px;
        font-size: 2rem;
        word-wrap: anywhere;

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }

        .post__link {
          transition: all .3s ease-in-out;
          display: block;

          color: var(--primary-color);
          text-decoration: underline 0.1em var(--secondary-color);

          &:hover {
            text-decoration-color: transparent;
          }
        }
      }

      &__summary {
        color: var(--text-color);
        text-decoration: none;

        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
