---
import { Icon } from 'astro-icon/components';
import HeaderLink from './HeaderLink.astro';
import menuRaw from './menu.json';
const menu: Array<{ label: string; href: string }> = Array.isArray(menuRaw) ? menuRaw : [];
---

<div class="relative">
  <!-- Desktop menu -->
  <div class="hidden md:flex gap-4 internal-links">
    {menu.map((item) => <HeaderLink href={item.href}>{item.label}</HeaderLink>)}
  </div>
  <!-- Mobile burger -->
  <div class="md:hidden flex items-center">
    <button
      id="menu-toggle"
      aria-label="Open menu"
      class="flex flex-col justify-center items-center w-10 h-10 group z-100"
      type="button"
    >
      <Icon
        name="outline/menu-outline"
        class="w-6 h-6 text-primary group-hover:text-white transition-colors duration-300"
      />
    </button>
  </div>
</div>
