:root {
  --text-color: #222;
  --light-text-color: #666;
  --contrast-text-color: #fff;
  --primary-color: #{$primary-color};
  --primary-color-10: #{rgba($primary-color, .1)};
  --light-primary-color: #{lighten($primary-color, 68)};
  --secondary-color: #{$secondary-color};
  --secondary-color-10: #{rgba($secondary-color, .1)};
  --bg: #e0e0e0;
  --green-gradient: #{$primary-color};
}

[data-theme="dark"] {
  --text-color: #fff;
  --light-text-color: #999;
  --contrast-text-color: #000;
  --primary-color: #{$secondary-color};
  --primary-color-10: #{rgba($secondary-color, .1)};
  --light-primary-color: #{darken($primary-color, 18)};
  --secondary-color: #{$primary-color};
  --secondary-color-10: #{rgba($primary-color, .1)};
  --bg: #{$black};
  --green-gradient: #{$secondary-color};
}
