$white: white;
$black: black;
$primary-color: #1F715F;
$secondary-color: #97C57B;
$flat-color: #97C57B;
$light-green: rgba(#1F715F, 0.2);


$impact-font: 'Rozha One';
$primary-font: Merriweather;
$hand-font: 'Allura';
