$white: white;
$black: #121211;
$primary-color: #213b4a;
$secondary-color: #90c6be;
$flat-color: #90c6be;
$light-green: rgba(#213b4a, 0.2);


$impact-font: 'iA Writer Mono';
$primary-font: 'iA Writer Mono';
$hand-font: 'DM Serif Text';
