.page-title {
  font-family: $impact-font;
  font-size: 3.2rem;
  color: var(--primary-color);
  display: inline-block;

  &::selection {
    background: var(--primary-color);
    color: var(--contrast-text-color) !important;
  }

  @media screen and (max-width: 768px){
    font-size: 2rem;

  }
}
