.page-title {
  font-family: $impact-font;
  font-size: 3.2rem;
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
