<div id="post-aboutme">
  <div class="me container-fluid">
    <div class="grid-row">
      <div class="col-xs-12 mb-5">
        <%- partial("_partial/social", null, {cache: true}) %>
      </div>
    </div>
  </div>

  <div class="claim container-fluid-1440">
    <div class="grid-row">
      <div class="col-xs-12">
        <h3>Programador y desarrollador de aplicaciones web, <a
                  href="https://www.drupal.org/u/sergiocarracedo">#drupal</a> es mi guia. Amante de la #f1, de las buenas conversaciones y de los pequeños detalles.</h3>
      </div>
    </div>
  </div>

  <div class="container-fluid-1440">
    <div class="grid-row">
      <div class="col-xs-12">
        <a href="/" class="back">
          Inicio
        </a>
      </div>
    </div>
  </div>

</div>
