<div id="top">
  <div class="bar" style="width: 0;"></div>
  <div class="container-fluid">
    <div class="grid-row">
      <div class="col-xs-12 col-sm-3">
        <a class="back-to-home" href="/">
          <img src="/img/sergiocarracedo.jpg" alt="Sergio Carracedo" class="image-logo"/>
          <h4>
            Sergio Carracedo
          </h4>
        </a>
      </div>
      <div class="hidden-xs hidden-lxs col-sm-6">
        <h3 class="subtitle"><%- page.title %></h3>
      </div>
    </div>
  </div>
  <div class="scrollbar"></div>
</div>
