.post-comments {
  margin-bottom: 60px;
  #disqus_thread {
    text-align: center;

    .policy-link {
      color: $primary-color !important;
    }

    .active .publisher-nav-color::after {
      background: $primary-color !important;
    }
  }
}
