/* Post or Page content style */
.content {
  font-size: 18px;
  line-height: 1.4em;
  color: #232323;

  h1 {
    font-size: 39px
  }
  h2 {
    font-size: 32px
  }
  h3 {
    font-size: 26px
  }
  h4 {
    font-size: 19px
  }
  h5 {
    font-size: 15px
  }
  h6 {
    font-size: 13px
  }

  strong {
    font-weight: bold;
  }

  a {
    background: transparent;
    color: $flat-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid rgba(102, 128, 153, 0.1)
  }
  p {
    margin: 0 0 1.8em 0;
  }
  ul, ol {
    margin: 10px 0;
    padding-left: 20px;

    li {
      margin: 5px 0;
    }
  }
  ul {
    li {
      margin: 5px 0;
    }
  }
  ol {
    li {
      list-style: decimal;
    }
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: #000;
    &:first-child {
      margin-top: 0;
    }
  }

  img {
    cursor: pointer;
  }
  pre, .highlight {
    background: #2d2d2d;
    margin: 1.6rem 0;
    padding: 0.8rem 0.8rem;
    border-style: solid;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 20px;
  }

  .gutter {
    display: none;
  }



  code, pre {
    font-family: "Source Code Pro", monospace
  }

  code {
    background: rgba(99, 99, 99, 0.07);
    color: #ef459c;
    padding: 1px 2px;
    border-radius: 2px;
  }
  pre {
    code {
      background: none;
      text-shadow: none;
      padding: 0;
    }
  }

  blockquote {
    color: #656565;
    margin: 0 0 1.1em;
    border-left: 3px solid #efefef;
    border-left-width: 6px;
    background-color: rgba(119, 119, 119, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;

    p:last-child {
      margin: 0;
    }
  }
  table {
    margin: 15px 0;
    border-collapse: collapse;
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;

    tr {
      border-top: 1px solid #ccc;
      background-color: #fff;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 6px 13px;
    }
  }

  .highlight {
    .gutter {
      pre {
        color: #666;
        font-size: 0.9rem;
        text-align: right;
        padding-right: 20px;
      }
    }

    pre {
      border: none;
      margin: 0;
      padding: 0;
    }
    table {
      margin: 0;width: auto;

      td {
        border: none;
        padding: 0;
      }

      tr {
        border: 0;
      }

      figcaption {
        font-size: 0.85em;
        color: #999;
        line-height: 1em;
        margin-bottom: 1em;
        a {
          float: right;
        }
      }
    }

    .line {
      height: 20px;
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
