.menu {
  text-align: center;
  margin-top: 230px;
  li {
    font-size: 20px;
    display: inline-block;
    margin: 0 20px 20px 0;
  }

  a {
    color: $white;
    letter-spacing: 1px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  position: fixed;
  height: 100%;
  width: 100%;
  @include gradient();
  color: $white;
  z-index: 3;
  top: -100%;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);


  .nav p {
    color: #999;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;

    &:first-letter {
      font-family: sans-serif;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  #copyright {
    text-align: center;
    padding: 0 15px;
    a {
      text-decoration: underline;
      color: $white;
    }
  }
}


body.mu {
  overflow: hidden;height: 100%;
  .icon-menu {
    color: #333;
    background: none;

    &:before {
      content: "\e607";
    }
  }

  .nav {
    top: 0;
  }

  .icon-logo {
    color: #333;
  }
}
html.mu {
  height: 100%;
}

