#page-nav {
  text-align: center;
  padding: 40px 15px;

  > * {
    display: inline-block;
    margin: 5px 7px;
  }

  .page-number {
    border-radius: 9999px;
    background: $primary-color;
    color: $light-grey;
    min-width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: all ease-in-out .2s;

    &:hover {
      background: $flat-color;
    }

    &.current {
      background: $light-grey;
      color: $black;
    }
  }

  .extend {
    color: $light-grey;
    @include underline-effect($secondary-color);

    &:hover {
      color: $secondary-color;
    }
  }
}
