.post-nav {
  margin-bottom: 50px;

  .prev {
    text-align: right;
  }

  .next {
    text-align: left;
  }

  a {
    color: $primary-color;
    @include transition(all, .2s);
    @include underline-effect($primary-color);
    &:hover {
      color: $flat-color;
    }
  }
}
