.post {
  overflow: hidden;
  margin-bottom: 16px;

  > a {
    display: block;
    max-height: 350px;
    overflow: hidden;
    position: relative;
    @include transition(all, .2s);

    .titles {
      @include cover();
      padding: 30px;
      @include gradient-vertical(rgba($black,.7), rgba($black ,0), 0%, 100%);
      @include transition(background, .2s);
      color: $white;

      h6 {
        margin: 0 0 5px 0;
        font-size: 14px;
        font-weight: normal;
      }

      h3 {
        margin: 0;
        font-size: 22px;
      }
    }

    &:hover {
      .titles {
      background-position: 0 -100px;
      }
    }
  }

}

#post-aboutme {
  @include gradient();
  text-align: center;
  color: $white;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  @include media($xs) {
    font-size: 17px;
  }


  .claim {
    padding-bottom: 20px;

    a {
      color: $white;
      @include underline-effect($white);
    }
  }

  .me {
    .image-logo {
      flex: 1;
      display: block;
      width: 90px;
      border-radius: 99999px;
      border: 6px solid #fff;
      margin: 0 auto 12px;

      @include media($xs) {
        width: 80px;
        border-width: 5px;
      }
    }

    h1 {
      color: $white;
      font-family: $secondary-font;
      @include gradient();
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 9999px;
      display: inline-block;
      margin-bottom: 20px;

      @include media($xs) {
        font-size: 16px;
      }
    }
  }

  .back {
    color: $white;
    @include a-inverse($white, $white);
  }
}



.article {
  margin: 100px auto 0 auto;

  h1.title {
    margin-bottom: 7px;
  }

  .stuff {
    margin-bottom: 30px;
    color: $light-grey;
    font-size: 15px;
    span {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .article-image {
    margin-bottom: 40px;
    height: 400px;
    overflow: hidden;
    position: relative;


    @include media($xs) {
      height: 200px;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .content {
    line-height: 1.5em;
    margin-bottom: 100px;

    a {
      display: inline-block;
      text-decoration: none;
      position: relative;
      color: $link-color;
      @include a-inverse($link-color, $link-hover-color);
    }

    h1 {
      margin-top: 50px;
      margin-bottom: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    h2 {
      margin-top: 50px;
      margin-bottom: 25px;

      &:first-child {
        margin-top: 0;
      }
    }

    h3 {
      margin-top: 50px;
      margin-bottom: 20px;
    }


    .left-40,
    .left-33,
    .left-50 {
      float: left;
      padding: 0 15px 15px 0;
    }

    .right-40,
    .right-33,
    .right-50 {
      float: right;
      padding: 0 0 15px 15px;
    }

    .width-50,
    .right-50,
    .left-50 {
      width: 50%;
    }

    .width-40,
    .right-40,
    .left-40 {
      width: 40%;
    }

    .width-33,
    .right-33,
    .left-33 {
      width: 33%;
    }


    .width-50,
    .right-50,
    .width-40,
    .right-40,
    .left-40,
    .width-33,
    .right-33,
    .left-33,
    .left-50 {
      box-sizing: border-box;
      @include media($xs) {
        float: none;
        width: 100%;
        padding: 0 0 15px 0;
      }
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }


    .clearfix {
      clear:both;
    }

    .video-container {
      margin-bottom: 20px;
    }

  }
}
