$primary-color: #004262;
$secondary-color: #b2d676;
$flat-color: #295F65; //#5B8A6D
$gray: #333;

$primary-font: 'Merriweather', serif;
$secondary-font: 'Press Start 2P', cursive;

$white: #fff;
$black: #000;
