.search-form {
  --height: 30px;
  --font-size: 16px;
  --shadow-height: 3px;
  --border-color: var(--secondary-color);
  --button-transform: translate(-42px, 2px) scale(0.8);

  &--dark {
    --border-color: var(--primary-color);
  }

  &--l {
    --height: 40px;
    --font-size: 20px;
    --shadow-height: 6px;
    --button-transform: translate(-48px, 0) scale(1);
  }

  &__input {
    height: var(--height);
    font-size: var(--font-size);
    border-radius: 5px;
    padding: 2px 35px 2px 10px;
    box-shadow: 0 var(--shadow-height) 0 0 var(--border-color);
    border: 1px solid var(--border-color);
    font-family: var(--font-family);
  }



  &__button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    transform: var(--button-transform);
  }
}
