<div id="home-aboutme">
  <div class="claim container-fluid-1440">
    <div class="grid-row">
      <div class="col-xs-12">
        **** <% __('index.title') %>
        <h3>Programador y desarrollador de aplicaciones web, <a
                  href="https://www.drupal.org/u/sergiocarracedo">#drupal</a> es mi guía. Amante de la #f1, de las buenas conversaciones y de los pequeños detalles.</h3>
      </div>
    </div>
  </div>
  <div class="skills container-fluid-1440">
    <div class="grid-row">
      <div class="col-xs-12">
        <% for(var i in site.data.skills.skills) { %>
            <span class="chip" style="background-color: <%- site.data.skills.skills[i].color %>; color: <%- site.data.skills.skills[i].textColor%>">
              <i class="<%- site.data.skills.skills[i].icon %>"></i> <%- site.data.skills.skills[i].name %>
            </span>
        <% } %>
      </div>
    </div>
  </div>
</div>
