<div class="container-fluid-1440">
  <div class="grid-row">
    <%
    page.posts.sort("date", "desc").each(function(post, i){
      if (page.prev == 0 && i < start) {
        return true;
      }
    %>
      <div class="col-xs-12 col-sm-6">
        <%- partial('post/item', {post: post}) %>
      </div>
    <% }) %>
  </div>
</div>