<% var first = site.posts.sort("date", "desc").eq(0); %>
<div id="home-header" class>
  <div class="content">
    <div class="content-wrapper">
      <img src="/img/sergiocarracedo.jpg" alt="Sergio Carracedo" class="image-logo"/>
      <h1>
        Sergio Carracedo
      </h1>

      <%- partial("_partial/social", null, {cache: true}) %>

    </div>
  </div>
</div>
