<% var first = site.posts.sort("date", "desc").eq(0); %>
<div id="home-header" class>
  <div class="content">
    <div class="content-wrapper">
      <a href="<%- url_for('/') %>" title="Home">
        <img src="/img/sergiocarracedo.jpg" alt="Sergio Carracedo" class="image-logo"/>
      </a>
      <a href="<%- url_for('/') %>" title="Home">
        <h1>
          Sergio Carracedo
        </h1>
       </a>

      <%- partial("_partial/social", null, {cache: true}) %>

    </div>
  </div>
</div>
