<div class="social">
  <a href="mailto:info@sergiocarracedo.es" class="social-link" title="info@sergiocarracedo.es">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="https://github.com/sergiocarracedo" class="social-link" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.drupal.org/u/sergiocarracedo" class="social-link" target="_blank">
    <i class="fab fa-drupal"></i>
  </a>

  <a href="http://www.linkedin.com/in/sergiocarracedo" class="social-link" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://www.twitter.com/sergiocarracedo" class="social-link" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="http://www.last.fm/user/gasman40" class="social-link" target="_blank">
    <i class="fab fa-lastfm"></i>
  </a>
  <a href="http://sergiocarracedo.tumblr.com/" class="social-link" target="_blank">
    <i class="fab fa-tumblr"></i>
  </a>
</div>
