<head>
  {{ $title := print .Site.Title " | " .Title }}
  <meta charset="UTF-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, minimum-scale=1.0" name="viewport">
  <title>{{ $title }}</title>

  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  {{ if $.Site.Params.keywords }}
  <meta content="{{ $.Site.Params.keywords }}" name="keywords">
  {{ end }}
  {{ if $.Site.Params.description }}
  <meta content="{{ $.Site.Params.description }}" name="description">
  {{ end }}
  {{ if $.Site.Params.author }}
  <meta content="{{ $.Site.Params.author }}" name="author">
  {{ end }}

  {{ if $.Site.Params.rssFeed }}
  <link href="{{ $.Site.BaseURL }}/index.xml"
        rel="alternate"
        title="{{ .Site.Title }}"
        type="application/rss+xml">
  {{ end }}

  {{ if $.Site.Params.favicon }}
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="/site.webmanifest" rel="manifest">
  <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
  <meta content="#da532c" name="msapplication-TileColor">
  <meta content="#ffffff" name="theme-color">
  <link crossorigin href="https://fonts.googleapis.com/css2?family=Rozha+One:wght@400;500;600;700&display=swap" rel="preconnect">
  <link crossorigin href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700&display=swap" rel="preconnect">
  <link crossorigin href="https://fonts.googleapis.com/css2?family=Allura:wght@400;500;600;700&display=swap" rel="preconnect">
  {{ end }}

  {{ partial "opengraph.html" . }}

  {{ if .Params.canonicalUrl }}
  <link href="{{ .Params.canonicalUrl }}" rel="canonical">
  {{ else }}
  <link href="{{ .Permalink }}" rel="canonical">
  {{ end }}


  {{ $scss := resources.Get "scss/main.scss" }}
  {{ $style := $scss | toCSS | resources.Minify | resources.Fingerprint  }}
  <link href="{{ $style.Permalink  }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet preconnect">

  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"  rel="stylesheet preload"
         type="text/css"/>
</head>
