<header class="web-header background-paper-secondary {{if eq .mode "home"}}web-header--home{{end}}">
  <h2>
    {{if ne .mode "home"}}
      <a class="back-to-home" href="/" title="Back to home">
        <i class="fas fa-home"></i>
        <div class="back-to-home__content">
          <span class="back-to-home__action">Back to home</span>
    {{else}}
      <div class="web-header__title">
    {{end}}
        <div class="back-to-home__title">
          {{ $avatar := resources.Get "i/sergiocarracedo.jpg" }}
          {{ $avatar := $avatar.Fit "100x100" }}
          <img alt="Sergio Carracedo" class="avatar" src="{{ $avatar.RelPermalink }}" width="100" height="100"/>
          <h4>
            Sergio Carracedo
          </h4>
        </div>
    {{if ne .mode "home"}}
        </div>
      </a>
    {{else}}
      </div>
    {{end}}
  </h2>


  <div class="web-header__page-title">
    {{ if ne .mode "home" }}
    <span>{{ .context.Title }}</span>
    {{ end }}
  </div>

  {{ partial "theme-switch.html" }}
</header>
