<header class="web-header">
  <h2>
    <a class="back-to-home" href="/" title="Back to home">

      <i class="fas fa-home"></i>
      <div class="back-to-home__content">
        <span class="back-to-home__action">Back to home</span>
        <div class="back-to-home__title">
          {{ $avatar := resources.Get "i/sergiocarracedo.jpg" }}
          {{ $avatar := $avatar.Fit "100x100" }}
          <img alt="Sergio Carracedo" class="avatar" src="{{ $avatar.RelPermalink }}"/>
          <h4>
            Sergio Carracedo
          </h4>
        </div>
      </div>
    </a>
  </h2>

  <div class="web-header__page-title">
    <span>{{ .Title }}</span>
  </div>

  {{ partial "search-form.html" .}}
  {{ partial "theme-switch.html" }}
</header>
