{{ $image := .Image}}
{{ $sizes := .Sizes | default (slice 458 768 1200)}}
{{ $alt := .Alt | default ""}}
{{ $title := .Title | default ""}}


{{ $media := (.Site.GetPage "page" "media").Resources }}
{{ $original := index ($media.Match (printf "%s" $image)) 0 }}
{{ $width := .Width | default $original.Width}}
{{ $intWidth := int $width }}

{{- /* The following is is used as a fallback if the image is not found or if it's a GIF. */ -}}
{{- $default := printf "<img src=\"%s\"alt=\"%s\" title=\"%s\" />" ($image | safeURL) $alt $title -}}

{{- if $image -}}
  {{- if or (strings.HasSuffix $image.Name ".gif") (strings.HasSuffix $image.Name ".svg") -}}
  {{- $default | safeHTML -}}
{{- else -}}
  {{- $imageOriginalWidth := $image.Width -}}
  {{- $srcset := slice -}}
  {{- $sizestag := slice -}}
  {{- range $sizes -}}
  {{- if lt (mul . 1.2) $imageOriginalWidth -}}
    {{- $thumb := $image.Resize (printf "%dx webp q90" .) -}}
    {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
    {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
  {{- end -}}
{{- end -}}

{{- if ne (len $srcset) 3 -}}
{{- $thumb := $image.Resize (printf "%dx webp q90" $imageOriginalWidth) -}}
{{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $imageOriginalWidth ) -}}
{{- $sizestag = $sizestag | append (printf ("%dpx") $imageOriginalWidth ) -}}
{{- end -}}
{{- $imageFallback := $image.Resize "1100x jpg q80" -}}
<figure class="image-caption">
  <img
      src="{{ $imageFallback.RelPermalink }}"
      alt="{{ $alt }}"
      title="{{ $title }}"
      width="{{ $width }}"
      height="{{ $imageFallback.Height }}"
      {{- if gt (len $srcset) 0 -}}
      {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
  {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
  {{- end -}}
  />
</figure>
{{- end -}}
{{- else -}}
{{- warnf "Unable to find '%s' -- ensure image exists alongside document in page bundle" .Destination -}}
{{- $default | safeHTML -}}
{{- end -}}
