{{ $avatar := resources.Get "i/sergiocarracedo.jpg" }}
{{ $avatar := $avatar.Fit "170x170" }}
<div class="me">
  <div class="me__avatar">
    <img alt="Sergio Carracedo" height="180" src="{{ $avatar.RelPermalink }}" width="180"/>
  </div>
  <div class="me__titles">
    <h1>Sergio Carracedo</h1>
    <h2>
      Senior Fullstack developer.
    </h2>
    <h3>
      Always learning, cats, good conversations and small details lover.
    </h3>
    {{ if .showSocial }}{{ partial "social" }}{{ end }}
  </div>
</div>
