<div class="post-nav post-nav--prev">
  {{ if .Next }}
  <a class="post-nav__link" href="{{ .Next.Permalink }}?ref=footer">
    <div class="post-nav__cover btn btn--img btn--hover-parent">
      {{ $cover := .Next.Resources.GetMatch .Next.Params.cover }}
      {{ if $cover }}
      {{ $cover := ($cover.Fill "200x120 Center")}}
      <img alt=".Next.Title" src="{{ $cover.RelPermalink }}" width="200" height="120">
      {{ end }}
    </div>
    <div class="post-nav__title">
      {{ .Next.Title | truncate 50 "..."}}
    </div>
  </a>
  {{ end }}
</div>

<div class="blog-link">
  <a class="btn btn--outlined" href="{{ "blog" | absURL }}">
    All Blog posts
  </a>
</div>
<div class="post-nav post-nav--next">
  {{ if .Prev }}
  <a class="post-nav__link" href="{{ .Prev.Permalink }}?ref=footer">
    <div class="post-nav__cover btn btn--img btn--hover-parent">
      {{ $cover := .Prev.Resources.GetMatch .Prev.Params.cover }}
      {{ if $cover }}
      {{ $cover := ($cover.Fill "200x120 Center")}}
      <img alt=".Prev.Title" class="post-nav__cover" src="{{ $cover.RelPermalink }}" width="200" height="120">
      {{ end }}
    </div>
    <div class="post-nav__title">
      {{ .Prev.Title | truncate 50 "..." }}
    </div>
  </a>
  {{ end }}
</div>
