<article class="post post--teaser">
  <div class="post__aside">
    <div class="post__cover">
      {{ $image := .Resources.GetMatch .Params.cover }}
      {{ if $image }}
        <a class="post__link btn btn--img" href="{{ .RelPermalink }}" >
          {{ $image := $image.Fill "500x250 Center"}}
          {{ with $image }}
          <img alt="{{ .Title }}" height="{{ .Height }}" src="{{ .RelPermalink}}" width="{{ .Width }}"/>
          {{ end }}
        </a>
      {{ end }}
    </div>
  </div>

  <div class="post__main">
    {{ partial "post-metadata.html" . }}
    <header>
      <h3 class="post__title">
        <a class="post__link" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h3>
    </header>


    <div aria-label="{{ .Summary | plainify | truncate 40 }}" class="post__summary">
      {{ .Summary | safeHTML | truncate 100 }}
    </div>

    <a class="post__read-more btn" href="{{ .RelPermalink }}" title="{{ .Title | plainify }}">
      Read more
    </a>
  </div>
</article>
