<aside class="post__metadata">
  {{ $dateTime := .PublishDate.Format "2006-01-02" }}
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
  <time class="post__date" datetime="{{ $dateTime }}">
    <i class="far fa-calendar-alt"></i> {{ .PublishDate.Format $dateFormat }}
  </time>

  {{ $tags := .Params.tags }}
  <div class="post__tags">
    {{ range $tags }}
    <a href="{{ printf "tags/%s" . | absURL }}" class="post__tag">
    <span>{{ . }}</span>
    </a>
    {{ end }}
  </div>

  <span class="post__reading-time">
    <i class="far fa-clock"></i> {{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "minute" "minutes" }} read
  </span>
</aside>

