<script>
window.store = {
{{ range where .Site.Pages "Section" "in" "blog" }}
"{{ .Permalink }}": {
  "title": "{{ .Title  }}",
  "content": {{ .Content | plainify }},
  "url": "{{ .Permalink }}",
  "image": {{ $image := .Resources.GetMatch .Params.cover }}
  {{ if $image }}
    {{ $image := $image.Fill "500x250 Center"}}
    {{ with $image }}
    "{{ .RelPermalink}}"
    {{ end }}
  {{ else }}
    ""
  {{ end }},
  "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
  "readingTime": "{{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "minute" "minutes" }} read",
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
  "date": "{{ .PublishDate.Format $dateFormat }}",
},
{{ end }}
}
</script>
