{{ define "main" }}
<article class="post post--single">
  <div class="post__main wrapper-1200">

    <header class="post__header">
      <h1 class="post__title">
        {{ .Title }}
      </h1>
    </header>

    {{ $cover := .Resources.GetMatch .Params.cover }}
    {{ if $cover }}
    {{ $cover := ($cover.Fill "1200x400 Center")}}
    <figure class="post__cover">
      <img alt="{{ .Title }}" height="{{ $cover.Height }}" src="{{ $cover.RelPermalink }}" width="{{ $cover.Width }}"/>
    </figure>
    {{ end }}

    <div class="post__content">
      {{ .Content }}
    </div>

  </div>
</article>
{{ end }}
