---
import BaseLayout from '@/layouts/BaseLayout.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import Search from 'astro-pagefind/components/Search';
---

<BaseLayout meta={{ title: '404 Not Found', description: 'Page not found' }}>
  <main class="wrapper mb-20">
    <SectionHeader
        title="404 - Page Not Found"
        subtitle="We couldn't find that page."
        description={`You tried to visit a missing page.`}
        class="mb-6"
    />
    <div class="text-center mb-10">
      <p class="mb-8 text-lg">Try searching for something similar below:</p>
      <div class="flex justify-center mb-10">
        <Search id="astro-404-search" className="pagefind-ui-dark "/>
      </div>
      <p class="mb-8 text-lg">Or you can go back to the homepage:</p>
      <a href="/" class="btn">Go to Homepage</a>
    </div>
  </main>
  <script is:inline>
  window.addEventListener('DOMContentLoaded', () => {
    let searchTerm = window.location.pathname.replace(/^\//, '');
    // Convert slug to words: replace - and _ with spaces, remove trailing slash
    searchTerm = searchTerm.replace(/[-_]/g, ' ').replace(/\/$/, '').trim();
    const searchInput = document.querySelector('.pagefind-ui__search-input');
    if (searchInput) {
      searchInput.value = searchTerm;
      searchInput.dispatchEvent(new Event('input', { bubbles: true }));
    }
  });
  </script>
</BaseLayout>
