---
import AboutMe from './AboutMe.astro';
import SocialLinks from './SocialLinks.astro';
const today = new Date();
---

<footer
  class="pt-8 pb-10 text-gray-700 dark:text-gray-300 background-paper-secondary dark:bg-none dark:bg-primary-700 border-t border-primary dark:border-secondary border-t-6 border-solid wrapper rounded-xl mb-3"
>
  <div class="flex flex-wrap items-center justify-between gap-4 text-md">
    <div>
      <AboutMe />
      <div class="mt-2 text-sm">
        &copy; {today.getFullYear()} Sergio Carracedo. All rights reserved.
      </div>
      <div class="mt-2 text-sm">
        <a class="text-primary dark:text-secondary link" href="/blog/stats">Blog stats</a>
        <span class="mx-2 opacity-50">•</span>
        <a class="text-primary dark:text-secondary link" href="/newsletter/subscribe">Newsletter</a>
      </div>
    </div>
    <SocialLinks />
  </div>
</footer>
