{{ define "main" }}
<article class="post post--single">
  <div class="post__main wrapper-1200">
   {{ partial "post-metadata.html" . }}

    <header class="post__header">
      <h1 class="post__title">
        {{ .Title }}
      </h1>
    </header>

    {{ $cover := .Resources.GetMatch .Params.cover }}
    {{ if $cover }}
    {{ $cover := ($cover.Fill "1200x400 Center")}}
    <figure class="post__cover">
      <img alt="{{ .Title }}" height="{{ $cover.Height }}" src="{{ $cover.RelPermalink }}" width="{{ $cover.Width }}"/>
    </figure>
    {{ end }}

    <div class="post__content">
      {{ .Content }}
    </div>

  </div>


  <aside class="post__nav-wrapper">
    <div class="wrapper-1200">
      {{ partial "post-nav.html" .}}
    </div>

    <div class="wrapper-1200 post__nav-years">
      {{ partial "years" . }}
    </div>

  </aside>

  <aside class="post__search-wrapper">
    <div class="wrapper-1200">
      {{ partial "search-block.html" .}}
    </div>
  </aside>

  <aside class="post__comments">
    <div class="wrapper-1200">
      <div id="disqus_thread">To show comments is mandatory to accept cookie policy.</div>
    </div>
  </aside>
</article>
{{ end }}
