<div id="single" class="page">
    <%- partial("_partial/post/header")%>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>
</div>
