.home-posts {
  animation-delay: .3s;
  animation: 1s 1 backwards fade-in;

  &__title {
    font-family: $impact-font;
    font-size: 2rem;
    margin-bottom: 40px;

    a {
      text-decoration: underline 3px var(--secondary-color);
      transition: all .2s ease-in-out;
      position: relative;
      color: var(--primary-color);
      display: inline-block;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  &__all {
    text-align: center;

    .btn {
      font-size: 1.5rem;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  margin-bottom: 40px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
