.web-footer {
  & {
    --title-color: $black;
  }

  [data-theme="dark"] & {
    --title-color: $white;
  }

  padding: 40px 20px;

  .wrapper-1200 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__right,
  &__left {
    margin: 10px 0;
    flex: 1;
    flex-basis: 300px;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;

    .menu {
      &__item {
        a {
          color: var(--title-color);
        }
      }
      margin-bottom: 30px;
    }
  }

  .me {
    &__avatar {
      img {
        width: 60px;
        border-width: 5px
      }
    }

    &__titles {
      h1 {
        font-size: 40px;

        @media screen and (max-width: 500px) {
          font-size: 30px;
        }
      }
      h2, h3 {
        color: var(--title-color);
      }

      h2 {
        font-size: 20px;
        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 16px;
        @media screen and (max-width: 500px) {
          font-size: 14px;
        }
      }
    }
  }
}
