.web-header {
  & {
    --title-color: #{$primary-color};
  }

  [data-theme="dark"] & {
    --title-color: $white;
  }


  padding: 10px 20px;
  z-index: 2;
  border-bottom: 3px solid var(--primary-color);

  @media screen  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .avatar {
    border-radius: 99px;
    width: 30px;
    border: 3px solid var(--primary-color);
  }

  display: flex;
  gap: 20px;


  .back-to-home__title,
  &__web-title {
    display: flex;
    gap: 15px;
    opacity: 1;
    align-items: center;
    font-family: $hand-font;
    font-size: 1.4rem;
    color: var(--primary-color);
  }

  .back-to-home {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;

    &__content {
      position: relative;
    }

    &__action {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: all .3s ease-in-out;
      clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
      display: flex;
      align-items: center;
    }

    &__title {
      transition: all .3s ease-in-out;
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);

    }

    @media screen and (max-width: 500px) {
     .back-to-home__action,
     .back-to-home__title {
       font-size: 1.5rem;
     }
    }

    &:hover {
      .back-to-home {
        &__action {
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        }

        &__title {
          opacity: 0;
          clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
        }
      }
    }
  }

  &__page-title {
    flex: 1;
    color: var(--title-color);
    align-items: center;
    padding-right: 200px;
    padding-left: 30px;

    justify-content: center;
    opacity: 0;
    transition: all .2s ease-in-out;
    display: none;
    overflow: hidden;

    span {
      display: block;
      overflow: hidden;
      padding: 4px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .theme-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


}

.not-in-top {
  .web-header {
    &__page-title {
      opacity: 1;
    }
  }
}
