<section class="home-hero">
  {{ partial "theme-switch.html" }}
  <div class="wrapper-1200">
    <header class="home-hero__header">
      {{ partial "me.html"}}
    </header>

    {{ partial "social" }}

    <aside class="skills">
      {{ $skills := site.Data.skills }}
      {{ range $index, $element := $skills }}
      <span class="skill" style="{{ if $element.color }}background-color: {{ $element.color }};{{ end }}{{ if $element.textColor }}color: {{ $element.textColor }};{{ end }}; animation-delay: {{ add 1.8 (div $index 40.0) }}s">
        <span>
          {{ if $element.icon}}
            <i class="{{ .icon }}"></i>
          {{ end }}{{ $element.name }}
        </span>
      </span>
      {{ end }}
    </aside>
  </div>
</section>
