<section class="home-hero background-paper-secondary">
  <div class="wrapper-1200">
    <header class="home-hero__header">
      {{ $showSocial := true }}
      {{ partial "me.html" (dict "showSocial" $showSocial)}}
    </header>

    <aside class="skills">
      {{ $skills := site.Data.skills }}
      {{ range $index, $element := $skills }}
      <span class="skill {{ if gt $index 10 }}skill--secondary{{end}}" style="{{ if $element.color }}background-color: {{ $element.color }};{{ end }}{{ if $element.textColor }}color: {{ $element.textColor }};{{ end }}; animation-delay: {{ add .8 (div $index 40.0) }}s">
        <span>
          {{ if $element.icon}}
            <i class="{{ .icon }}"></i>
          {{ end }}{{ $element.name }}
        </span>
      </span>
      {{ end }}
    </aside>
  </div>
</section>
