---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import NewsletterToast from '../components/NewsletterToast.astro';
import NewsletterSuccessToast from '../components/NewsletterSuccessToast.astro';

import { DISQUS, GA } from '../consts';

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead meta={meta} />
  </head>
  <body class="max-w-full overflow-x-hidden">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <NewsletterToast />
    <NewsletterSuccessToast />

    <script
      async
      data-category="analytics"
      data-service="ga4"
      data-src={`https://www.googletagmanager.com/gtag/js?id=${GA}`}></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-87X78TXEGE');
    </script>

    <script
      async
      data-category="analytics"
      data-service="disqus"
      data-src={`https://${DISQUS}/embed.js`}></script>
  </body>
</html>
