---
import SectionHeader from '@/components/SectionHeader.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const meta = {
  title: frontmatter.title || 'Page',
  description: frontmatter.description || '',
  keywords: frontmatter.keywords || [],
  subtitle: frontmatter.subtitle || '',
};
---

<BaseLayout meta={meta}>
  <div class="wrapper">
    <SectionHeader title={meta.title} description={meta.description} subtitle={meta.subtitle} />
  </div>

  <div class="wrapper-alt">
    <div class="prose">
      <slot />
    </div>
  </div>
</BaseLayout>
